@import "./reset.scss";

.ecomMB {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 320px;
    height: 500px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    .adx-logo {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    .ecomMB-bg{
        width: 320px;
        height: 180px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.ecomMB-product {
    margin-top: 5px;
    overflow: hidden;
    margin-top: 11px;
    margin-left: 15px;
    display: flex;
    height: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar { 
        display: none; 
    }
    .product-item {
        margin-right: 15px;
        width: 180px;
        height: 280px;
        box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.06);
    }
    .product-img {
        position: relative;
        img {
            width: 180px;
            height: 179.25px;
        }
        .content-svg {
            position: absolute;
            top: 0;
            right: 0;
        }
        .content-svg-text {
            font-weight: bold;
            font-size: 13px;
            line-height: 18px;
            color: #fff;
            position: absolute;
            top: 3px;
            right: 8px;
        }
    }
    .product-detail {
        margin-top: 13px;
        margin-left: 9px;
        margin-right: 7px;
        position: relative;
    }
    .item-detail {
        h5 {
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            color: #464646;
        }
    }
    .item-price {
        margin-top: 9px;
        h4 {
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #e00000;
        }
        h5 {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #777777;
        }
    }
    .icon-arrow{
        position: absolute;
        right: 0;
        bottom: -5px;
    }
}

.content-brand {
    .brand-right {
        position: absolute;
        right: 5px;
        bottom: 0;
    }
}
